.container {
  margin-bottom: 2rem;
}

.section-title {
  width: 100%;
  display: table;
  clear: both;
  margin-bottom: 1rem;
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
}

.container a {
  color: var(--color-white);
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
