@import url('reset.css');
:root {
  --content-max-width: 1995px;

  --min-column-width: 180px;
  --shelf-min-height: 260px;
  --encore-text-size-larger: 1.5rem;
}

body {
  background-color: black;
  color: white;
}

/* @media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
