.container {
  padding: 0 1rem;
  width: 100%;
}

.main-view-container__scroll-node-child-spacer {
  height: 2rem;
  position: sticky;
  top: 0;
  background-color: #121212;
}

.main {
  width: 100%;
  display: block;
  unicode-bidi: isolate;
  background-color: #121212;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.section-title {
  width: 100%;
  display: table;
  clear: both;
  margin-bottom: 1rem;
  position: relative;
}

