.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 1rem 0;
}

.grid-container {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-column-width), 1fr)
  );
}

.lists-container {
  --min-column-width: 254px;
  margin-inline: -12px;
  content-visibility: auto;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-column-width), 1fr)
  );
}
