.container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-black);
  padding: 1rem 1rem 0 1rem;
}

.nav-lists {
  width: 100%;
  background-color: var(--color-black-100);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 2rem 1rem;
  display: flex;
  gap: 0.5rem;
}

.nav-list {
  border-radius: 9999px;
  background-color: var(--color-black);
  cursor: pointer;
  text-align: center;
  padding: 8px 12px;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
}

.nav-list-active {
  color: var(--color-black);
  background-color: var(--color-white);
}
